% Sample configuration file for the TAgui function of the TA toolbox
%
% (c) 2011, Till Biskup <till@till-biskup.de>
%
% This file serves as an example and documentation for the real
% configuration in the file "TAgui.ini" in the same directory.
%
% To automatically generate a valid config file from this file, 
% use TAconf('create') at the MATLAB(r) command line.

% Configuration for the load panel
[load]
combine = 0
loaddir = 0
POC = 0
BGC = 0
labels = 1
format = EP LP920 ASCII

% Configuration for the measure panel
[measure]
setslider = 1

% Configuration for the display panel
[display]
axislimitsauto = 1
gridzero = 1
gridx = 0
gridy = 0
gridminor = 0
legend = none
normalise = none
highlightactive = 1
export1Dincludeaxis = 1
display3DoffsetAuto = 1
thresholdMin = 0
thresholdMax = 0

% Configuration for the configuration panel
[configuration]
overwriteLocal = 0
