% Sample configuration file for the TAgui function of the TA toolbox
%
% (c) 2011, Till Biskup <till@till-biskup.de>
%
% This file serves as an example and documentation for the real
% configuration in the file "TAgui.ini" in the same directory.

% Configuration for the load panel
[load]
combine = 0
loaddir = 0
POC = 0
BGC = 0
labels = 1
format = Freiburg TA ASCII data
