% Sample configuration file for the TAgui_fitwindow function of the 
% TA toolbox
%
% (c) 2012, Till Biskup <till@till-biskup.de>
%
% This file serves as an example and documentation for the real
% configuration in the file "TAgui_fitwindow.ini" in the same directory.
%
% To automatically generate a valid config file from this file, 
% use TAconf('create') at the MATLAB(r) command line.
% Alternatively, you may use the functions provided by the "Configuration" 
% panel of the TA toolbox main GUI.

[fit]
dimension = x
fitFunction = Exp. decay
fitRoutine = fminsearch
area.patch.color = [0.5 0.5 1]
area.patch.alpha = 0.4
area.patch.edge = none
MFoff.line.color = [0 0 0.55]
MFoff.line.style = -
MFoff.line.marker.type = none
MFoff.line.width = 1
MFon.line.color = [0 0.25 0]
MFon.line.style = -
MFon.line.marker.type = none
MFon.line.width = 1
DeltaMF.line.color = [0.45 0 0]
DeltaMF.line.style = -
DeltaMF.line.marker.type = none
DeltaMF.line.width = 1
reference.line.color = [0.5 0.5 0.5]
reference.line.style = -
reference.line.marker.type = none
reference.line.width = 1
residuals.line.color = [0.75 0 0.75]
residuals.line.style = -
residuals.line.marker.type = none
residuals.line.width = 1
display.area = 1
display.residuals = 0
display.fit = 1
display.ignorefirstn = 0

[axis]
position = 0
grid.zero = 1
grid.x = off
grid.y = off
grid.minor = off
onlyActive = 1
